@import "./shared/theme.css";
@plugin "@tailwindcss/typography";

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body:not(.wp-admin) {
    @apply font-sans text-text-primary;
  }

  ::selection {
    @apply bg-brand-accent text-white;
  }
}
